.okno {
  background: url(3173231200-ostrov-ko-lipe-tayland-gXNl-1920x1080-MM-100.jpg) ;
  background-size: 1550px 630px;
}
.Moya {
    font-style:italic;
    color: rgb(207, 15, 1);
    text-align: right;
}
.pic1 {
    border-radius: 20px;
    padding-left: 50px;
   width: 250px;
   height: 250px;
}
.pic2 {
    border-radius: 20px;
    padding-left: 200px;
    width: 250px;
    height: 250px;
}
.pic3 {
    border-radius: 20px;
    padding-left: 200px;
    width: 250px;
   height: 250px;
}